@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');


body{
    margin:0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans',sans-serif;
    color: black;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

h2{

    font-family: 'Roboto',sans-serif;
    font-size: 1.7rem;
    text-align: center;
    margin: 24px
}

h1{

    font-family: 'Noto-sans',sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-align: center;
}

a{ 
    text-decoration: none;
}

header {

    top:0;
    position:fixed;
    width: 100%;
    max-width: inherit;
    z-index: 3;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    height: 100px;

}

 .nav{
    width: 100%;
    height: 100%;
    margin:0 auto;
    border-bottom: 2px solid #fff;
    z-index: 3;
}


.nav-list-item i{
    color: #fff;
    font-size: 1.5rem;
}


.nav-bar{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 2rem;
    flex-wrap: wrap;
}




.logo{

    list-style: none;
    margin-right: auto;
}


.nav-list-item{

    list-style: none;
    width: 100px;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.nav-list-item a{
    text-decoration: none;

}



.nav-list-item:hover ul {

    opacity: 1;
    visibility:visible;
}


.nav-list-item a, .nav-list-item {

    color: white;
    
}


.nav-sub-menu{

    
    position: absolute;
    top: 4rem;
    left: -1rem;
    background: #52B788;
    width: 16rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:0.5;
    opacity: 0;
    border-bottom: 3px solid #fff;
    transition: opacity 200ms ease-in-out;

}

.nav-sub-menu li {

    color:white;
    text-decoration: none;
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    transition: background-color 200ms ease-in-out;
}

.nav-sub-menu li:hover, .nav-sub-menu li:focus {

    
    background-color: #74C69D;

}

.nav-sub-menu li:hover a, .nav-sub-menu li:focus a {

    color: #D9ED92;
    background-color: #74C69D;

}

.nav-bar a:hover, .nav-bar li:hover{

    color: #D9ED92;
}
.active, .active> a{

    color: #D9ED92;
} 


.welcome-box {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: inherit;
    height: 550px;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.3)),url("../images/matcha-rock.jpg") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 35% ;
    overflow: hidden;
    margin: 0 auto;
    
}

.welcome-text{

    margin-right: 8%;
    width: minmax(400px,500px);
    font-size:1.1rem;
}

.welcome-text h2 , .welcome-text a {
    
    color: #fff;
}

.flex-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    
}
.flex-container.pad{
    
   padding-bottom: 42px;
}

.flex-container.col{
    
    flex-direction: column;
}

.flex-container.row{
    
    flex-direction: column;
}
.button{

    margin-top: 25px;
    display: inline-block;

}
.btn {
    padding: 20px 50px;
    position: relative;
    font-size: 1.25rem;
    margin: 32px;
}

.home-pg-btn-right {
    color: #fff;
}

.home-pg-btn-left {
    color: #fff;
}

.home-pg-btn-right.dark {
    color: #000;
}

.home-pg-btn-left.dark {
    color: #000;
}



.home-pg-btn-right::after, .home-pg-btn-right::before,.home-pg-btn-left::after, .home-pg-btn-left::before {

    border: 2px solid #fff;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
}

.home-pg-btn-right.dark::after, .home-pg-btn-right.dark::before,.home-pg-btn-left.dark::after, .home-pg-btn-left.dark::before {

    border: 2px solid #000;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
}


.home-pg-btn-right:hover::after{
    transform: translate(5px,-5px);
}

.home-pg-btn-right:hover::before{
    transform: translate(-5px,5px);
}

.home-pg-btn-left:hover::after{
    transform: translate(-5px,-5px);
}

.home-pg-btn-left:hover::before{
    transform: translate(5px,5px);
}


.default-bg{

    background: #52B788;
}

.grid{

    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(300px,auto);
    justify-items: center;
    align-items: center;
}

.grid.alt-grid{

    background: #D8F3DC ;
    
}

.grid.sixty-fourty-grid {

    grid-template-columns: 60% 40%;

}

.grid.fourty-sixty-grid {

    grid-template-columns: 40% 60%;

}

.grid.three-grid{

    grid-template-columns: 1fr 1fr 1fr;
}

.grid.thirty-seventy {

    grid-template-columns: 30% 70%;

}

.grid.seventy-thirty {

    grid-template-columns: 70% 30%;

}
.grid.alt-grid.foot-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #52B788;
    grid-row: 50px;
    color: #fff;
    justify-items: start;
    align-items:flex-start;
}

.grid.smaller-spacing{
    gap: 0em;
    padding:5px;
}   

.did-you-know{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}


.bg-container {

    width: 50%;
    min-width: 300px;
    height: 300px;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bg-container.brew {

    width: 300px;
    height: 300px;
    background: #52B788;
    
}

.bg-container.tea-uses {

    display: flex;
    width: 450px;
    height: 400px;
    background: #52B788;
    border-radius: 15%;
    
}

.bg-container.tea-type img{

    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


.bg-container.brew img{

    object-fit:contain;
    width: 120%;
    height: 120%;
    border-radius: 8px;
}


.bg-container.tea-uses img{

    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15%;
}


#brew-q2-img {

    width: 200%;
}

#brew-q4-img{
    width: 150% ;
}




.text-container {

    width:50%;
    min-width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    color: #fff;
    background-color: #52B788;
    margin-left: -15%;

}
.text-container h2{

    font-family: 'Roboto',sans-serif;
    color: #fff;
    margin: 6px;
}
.text-container p{
    
    color: #fff;
    font-size: 1.1rem;
}
.text-container.left {

    margin-left: -85%;

}

.text-container.brew{
    width: 30%;
}
.text-container.tea-uses{
    background: none;
    width: 30%;
}


.text-container.green{
    border: 2px solid #a39d3e;
    background: #a39d3e;

}
.text-container.red{
    border: 2px solid #9e5a00;
    background: #57290e;

}

.text-container.black{
    border: 2px solid #5e5553;
    background: #3b3839;

}

.under-text{

    margin-top: 55px;
}



.tea-promo h2{

    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 50px;
    
}

.clever-banner{
    
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    color:#fff;
    background: #52B788;
}

.clever-banner.alt-banner{

    background: #2D6A4F;
}

.wrapper{
    width: 100%;

}


.footer {

    padding: 24px;
}

.footer-ul{
    
    list-style: none;
    display: flex;
    
}

.footer-ul.social-media{
    gap: 2rem;
    margin:2rem;
    justify-content: flex-end;
}

.footer-ul.social-media i{

    color: #fff;
    font-size: 1.1rem;
}


.tea-history-sectimg {
    object-fit: contain;
}



.img-frame {
    width: minmax(300px,600px);
    height: minmax(300px,600px);
}

.img-frame > img{

    width: 100%;
    height: 100%;
    border: 2px solid #52B788;
    border-radius: 8px;

}

.show-img{

    width: minmax(250px,400px);
    height: minmax(250px,400px);
}

.show-img > img{

    width: 120%;
    height: 120%;

}

#sign-up-form{
    width: minmax(200px,400px);
    height: 300px;
    background: red;
    color: #fff;
}
.default-color{
    background: #52B788;
}

.border {

    border: 2px solid #52B788;
       
    }
.no-border{
    border: none;
}   

.first-section-under-header{
    margin-top:150px
}

.promo-img-border{
    width: 100%;
    min-width: 450px;
    height: 300px;
    padding: 1rem;
    border: 3px solid #52B788;
    border-radius: 12px;
    margin: 25px;
}
.promo-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 

}

/* .art-img-border{
    width: 100%;
    min-width: 100px;
    height: 300px;
    padding: 1rem;
    border: 3px solid #000;
    margin: 25px;
} */
.art-img {
    width: 100%;
    min-width: 450px;
    height: 300px;
    /* width: minmax(200px,300px);
    height: minmax(200px,300px); */
    border: 3px solid #fff;
    border-radius: 12px;
    object-fit: cover;
    

}

.flex-grid{

    display: flex;
    flex-wrap: wrap;
}

.flex-grid > *{
    flex: 1 1 10em;
}

.recipe-card{

    width: 100%;
    min-width: 450px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    
}
.recipe-card-img{

    width: 100%;
    height: 450px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.recipe-card-content{
    background-color: #f8f6f6;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 500px;
    position: relative;
    transition: all 0.5s ease ;
    transform-style: preserve-3d;
    
}


.content-front{

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.content-back{

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.recipe-card-content:hover{
    transform: rotateY(180deg);
}


@media screen and (min-width:1024px) {
    
    body { 
        max-width: 1220px;
    }
}

@media  screen and (min-width:768px) and (max-width:1023px) {
    
}

@media screen and (max-width:767px) {
    
}