
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin: 0 auto;
    background: red;
    
}

.logo {
    border: 1px solid white;
    margin-left: 35px;
    padding: 5px;
    
}



.nav-bar {
    list-style: none;
    padding: 0;
    margin-right: 40px;
}

.nav-bar li {
    display: inline-block;
    margin-left: 35px;
}

.nav-bar a {
    color: white;
    transition: all ease 0.3s;
}

.nav-bar a:hover {
    color: teal;
}

