@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans&family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

:root{
    
    --primary:#72DAA5;
    --on-primary:#003822;
    /* --primary:#006C44;
    --on-primary:#fff; */
    --primary-container:#8FF7C0;
    --on-primary-container:#002111;
    --secondary:#4E6356;
    --on-secondary:#fff;
    --secondary-container:#D0E8D7;
    --on-secondary-container:#0B1F15;
    --tertiary:#3C6472;
    --on-tertiary:#FFFFFF;
    --tertiary-container:#C0E9F9;
    --on-tertiary-container:#001F29;
    --error:#BA1B1B;
    --error-container:#FFDAD4;
    --on-error:#FFFFFF;
    --on-error-container:#410001;
    --background:#FBFDF8;
    --on-background:#191C1A;
    --surface:#FBFDF8;
    --on-surface:#191C1A;
    --surface-varient:#DCE5DD;
    --on-surface-varient:#404943;
    --outline:#707972;
    --inverse-on-surface:#F0F1ED;
    --inverse-surface:#2D312E;
    --inverse-primary:#72DAA5;
    --shadow:#000;
}

/* :root{
    
    --primary:#72DAA5;
    --on-primary:#003822;
    --primary-container:#005233;
    --on-primary-container:#8FF7C0;
    --secondary:#B4CCBB;
    --on-secondary:#203529;
    --secondary-container:#364C3F;
    --on-secondary-container:#D0E8D7;
    --tertiary:#A4CDDD;
    --on-tertiary:#053542;
    --tertiary-container:#234C59;
    --on-tertiary-container:#C0E9F9;
    --error:#BA1B1B;
    --error-container:#FFDAD4;
    --on-error:#FFFFFF;
    --on-error-container:#410001;
    --background:#FBFDF8;
    --on-background:#191C1A;
    --surface:#191C1A;
    --on-surface:#E1E3DF;
    --surface-varient:#404943;
    --on-surface-varient:#C0C9C1;
    --outline:#8A938B;
    --inverse-on-surface:#191C1A;
    --inverse-surface:#E1E3DF;
    --inverse-primary:#006C44;
    --shadow:#000;
}
 */



html,body
{
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Roboto',sans-serif;
    color: var(--on-background);
    text-align: center;

}

body{

    background: var(--background);
}



a{ 
    text-decoration: none;
}

header {

    top:0;
    position:fixed;
    width: 100%;
    max-width: inherit;
    z-index: 30;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
    height: 100px;
    background: var(--primary);


}

iframe {
    border: 2px solid #fff;
    border-radius: 8px;
    width: 100%;
    height: 350px;
}

header li {

    font-weight: 600;

}




 .nav{
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;

}

.nav-list-item-other {
    
    display: none;
    color: var(--on-primary);
    font-size: 1.5rem;
    list-style: none;
    width: 100px;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.nav-list-item-other *{
    cursor: pointer;
}

.nav-list-item-other + input{
    
    
    display: none;
    
}

.toggle-menu{

    position: absolute;
    top:.75rem;
    right:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height:21px
}



.toggle-bar{
    height:3px;
    width: 100%;
    background-color: var(--on-primary);
    border-radius: 10px;
}




.nav-bar {
    
    color: var(--on-primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0rem;
    flex-wrap: wrap;
    flex: 1 1 10rem;
}




.logo{

    box-sizing: border-box;
    height: 110px;
    width:  110px;
    margin-left: 24px;
    margin-bottom: 12px;
    
}



.logo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.nav-list-item{

    list-style: none;
    width: 100px;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.nav-list-item a{
    text-decoration: none;

}



.nav-list-item:hover ul {

    opacity: 1;
    visibility:visible;
}


.nav-list-item a, .nav-list-item {

    color: var(--on-primary);
    
}


.nav-sub-menu{

    
    position: absolute;
    top: 4rem;
    left: -1rem;
    background: var(--primary);
    width: 14rem;
    padding:1rem;
    display: flex;
    flex-direction: column;
    gap:0.5;
    opacity: 0;
    border-bottom: 3px solid #fff;
    transition: opacity 200ms ease-in-out;

}

.nav-sub-menu li {
    
    color:var(--on-primary);
    text-decoration: none;
    list-style: none;
    padding: 0.5rem 1rem;
    transition: background-color 200ms ease-in-out;
}

.nav-bar li {
    text-align: center;
    border-radius: 8px;
    margin-right: 5px;
}

.nav-bar li:hover> a, .nav-bar li:hover{

    color: var(--primary);
    background:var(--on-primary);
}
.active, .active> a{

    color: var(--primary);
    background:var(--on-primary);
} 


.tertiary{
    box-sizing: border-box;
    color: var(--on-background);
    background: var(--background);
  
}
.welcome-box {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: inherit;
    height: 550px;
    background: linear-gradient(rgba(0, 0, 0, 0.6),rgba(255, 255, 255, 0.3)),url("../images/matcha-rock.webp") ;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0% 35% ;
    overflow: hidden;
    margin: 0 auto;
    
}

.welcome-text{

    margin-right: 8%;
    width: minmax(320px,500px);
}

.welcome-text h2 , .welcome-text a {
    
    color: var(--primary);
}

.welcome-text h2{

    margin-bottom: 30px;
}

.flex-container {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-wrap: wrap;
    
}
.flex-container.pad{
    
   padding-bottom: 42px;
}

.flex-container.col{
    
    flex-direction: column;
}

.flex-container.row{
    
    flex-direction: column;
}
.button{

    margin-top: 25px;
    display: inline-block;

}
.btn {
    padding: 20px 50px;
    position: relative;
    font-size: 1.25rem;
    margin: 32px;
}

.home-pg-btn-right {
    color: var(--primary);
}

.home-pg-btn-left {
    color: var(--primary);
}

.home-pg-btn-right.dark {
    color: var(--secondary);
}

.home-pg-btn-left.dark {
    color: var(--secondary);
}



.home-pg-btn-right::after, .home-pg-btn-right::before,.home-pg-btn-left::after, .home-pg-btn-left::before {

    border: 2px solid var(--primary);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
}

.home-pg-btn-right.dark::after, .home-pg-btn-right.dark::before,.home-pg-btn-left.dark::after, .home-pg-btn-left.dark::before {

    border: 2px solid var(--secondary);
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    left: 0;
    bottom: 0;
}


.home-pg-btn-right:hover::after{
    transform: translate(5px,-5px);
}

.home-pg-btn-right:hover::before{
    transform: translate(-5px,5px);
}

.home-pg-btn-left:hover::after{
    transform: translate(-5px,-5px);
}

.home-pg-btn-left:hover::before{
    transform: translate(5px,5px);
}

.btn.rounded{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: auto;
    color: var(--on-secondary);
    background-color: var(--secondary);
    border: 3px solid var(--secondary);
    border-radius: 50px;
    cursor: pointer;
    padding: 12px;
} 

.btn.rounded:hover{

    color: var(--primary);
    background-color: var(--on-primary);
    border: 3px solid var(--secondary);

}

.btn.rounded h2{
    font-size: 1.25rem;
    margin: 0px;
}

.default-bg{

    color: var(--on-primary);
    background: var(--primary);
}

.grid{

    box-sizing: border-box;
    width: 100%;
    max-width: inherit;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-auto-rows: minmax(300px,auto);
    justify-items: center;
    align-items: center;
}

.grid.alt-grid{

    color: var(--on-secondary-container);
    background: var(--secondary-container) ;
    
}

.grid.sixty-fourty-grid {

    grid-template-columns: 60% 40%;

}

.grid.fourty-sixty-grid {

    grid-template-columns: 40% 60%;

}

.grid.three-grid{

    grid-template-columns: 1fr 1fr 1fr;
}



.grid.thirty-seventy {

    grid-template-columns: 30% 70%;

}

.grid.seventy-thirty {

    grid-template-columns: 70% 30%;

}

.grid.smaller-spacing{
    gap: 0em;
    padding:5px;
}   

.did-you-know{
    margin: 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    max-width: 900px;
}


.bg-container {

    width: 80%;
    min-width: 310px;
    height: 350px;
    border-radius:8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.bg-container.brew {

    width: 300px;
    height: 300px;
    background: var(--on-secondary-container);
    border: 2px solid var(--tertiary);
    
}

.bg-container.tea-uses {

    display: flex;
    width: 450px;
    height: 400px;
    background: #52B788;
    border-radius: 15%;
    
}

.bg-container.tea-type img{

    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}


.bg-container.brew img{

    object-fit:contain;
    width: 120%;
    height: 120%;
    border-radius: 8px;
}


.bg-container.tea-uses img{

    width: 90%;
    height: 90%;
    object-fit: cover;
    border-radius: 15%;
}


#brew-q2-img {

    width: 200%;
}

#brew-q4-img{
    width: 150% ;
}


.text-container {
    box-sizing: border-box;
    width:75%;
    min-width: 300px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    margin-top: -40%;

}
.text-container h2{

    font-family: 'Roboto',sans-serif;
    margin: 6px 0px;
}


.text-container.brew{
    width: 30%;
}
.text-container.tea-uses{
    background: none;
    width: 30%;
}


.text-container.green{
    border: 5px solid #a39d3e;
    background: var(--background);
    color: var(--on-background);

}
.text-container.red{
    border: 5px solid #9e5a00;
    background: #57290e;
    background: var(--background);
    color: var(--on-background);
}

.text-container.black{
    border: 5px solid #5e5553;
    background: #3b3839;
    background: var(--background);
    color: var(--on-background);

}

.under-text{

    margin-top: 55px;
}



.clever-banner{
    
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    width: 100%;
    color:var(--on-primary-container);
    background: var(--primary-container);
}

.clever-banner > p{

   margin: 18px 20px;
}



.footer {

    padding: 24px;
}

.footer-ul{
    
    list-style: none;
    display: flex;
    
}

.footer-ul.social-media{
    gap: 2rem;
    margin:2rem;
    justify-content: flex-end;
}

.footer-ul.social-media i{

    color: var(--on-primary);
    font-size: 1.1rem;
}


.tea-history-sectimg {
    object-fit: contain;
}



.img-frame {
    width: minmax(300px,600px);
    height: minmax(300px,600px);
}

.img-frame > img{

    width: 100%;
    height: 100%;
    border: 2px solid var(--tertiary);
    border-radius: 8px;

}

.show-img{

    width: minmax(250px,400px);
    height: minmax(250px,400px);
}

.show-img > img{

    width: 120%;
    height: 120%;

}
.flex-container.sign-up{
    box-sizing: border-box;
    width: 100%;
    max-width: 700px;
    background: linear-gradient(97deg,var(--primary),var(--primary-light));
    border-radius: 12px;
    padding: 20px;
    margin: 40px 0px;
}
#sign-up-form{
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 1rem;
    max-width: 800px;
    padding: 25px 30px;
    background:var(--background) ;
    margin: 40px;
    border: 2px solid var(--tertiary);
    border-radius: 12px;
    
}

.form-item{

    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    min-width: 290px;
    font-size: 1.15rem;
    margin: 20px;
}

.form-item input{
    height: 50px;
    width: 100%;
    font-family: 'Noto-sans',sans-serif;
    font-weight: 500;
    border: 2px solid var(--secondary);
    border-radius: 4px;

}


.form-item.form-button input{

    color: #fff;
    font-size: 1.25rem;
    font-family: 'Noto-sans',sans-serif;
    background:linear-gradient(10deg,var(--primary),var(--primary-container)) ;

}
.default-color{
    background: var(--primary);
}

.border {

    border: 2px solid var(--primary);
       
    }
.no-border{
    border: none;
}   

.first-section-under-header{
    margin-top:100px
}

.section-flex{

    display: flex;
    flex-direction:column;
    align-items:center
}

.promo-img-border{
    box-sizing: border-box;
    width: 100%;
    min-width: 310px;
    height: 300px;
    padding: 8px;
    border: 3px solid var(--primary);
    border-radius: 12px;
    margin: 0 10px 10px 10px;
}


.promo-img {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 12px;

}

.promo-title{

    font-size: 1.4rem;
    margin-bottom: 24px;
}

.art-img {
    width: 100%;
    min-width: 450px;
    height: 300px;
    border: 3px solid var(--tertiary-container);
    border-radius: 12px;
    object-fit: cover;
    

}

.flex-grid{

    display: flex;
    flex-wrap: wrap;
}

.flex-grid > *{
    flex: 1 1 10em;
}

.flex-grid.info > *{
    flex: 1 1 20em;
}

.card-holder{
    position: relative;
    display: flex;
    width: 100%;
    min-width: 290px;
    background: none;
    min-height: 450px;
    
    
}
.info-card{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 300px;
    border-radius: 12px;
    transition: all 0.5s ease ;
    transform-style: preserve-3d;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    margin:25px;
}
.info-card-img{
    
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
  
}

.rotate-on-click-card input{
   
    display: none;
    visibility: none;
}
.rotate-on-click-card input:checked ~ .info-card, .rotate-on-click-card input:checked ~ .recipe-card{
    transform: rotateY(180deg);
}


.info-card-banner{
    padding:8px ;
    height: 20%;
    background: var(--primary-container);
    color: var(--inverse-on-surface);
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.info-labels > li {
    margin-right: 12px;
    font-size: 1.2rem;
}


.recipe-card{

    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 300px;
    border-radius: 12px;
    transition: all 0.5s ease ;
    transform-style: preserve-3d;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    margin: 24px;
}
.recipe-card-img{
    
    display: block;
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}


.content-front{

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 12px;
}


.content-front.exp{


    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--primary);
    color: var(--on-primary);

}

.content-front.exp h2{
 
    color: var(--on-primary);
}

.content-back{

    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 12px;
}

.content-back.exp{


    display: flex;
    justify-content: center;
    align-items: center;


}



.recipe-card-banner{
    padding:8px ;
    height: 20%;
    background: var(--secondary);
    color: var(--on-secondary);
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.recipe-labels{
    color: var(--on-secondary);
    list-style: none;
    display: flex;
}

.recipe-labels > li {
    margin-right: 12px;
}


.timeline{
    display: flex;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    position: relative;

}

.timeline ul{

    padding: 20px;
    list-style: none;
    

}

.timeline ul li {
    text-align: start;
    height: auto;
    background-color: var(--inverse-surface);
    color: var(--inverse-on-surface);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.timeline ul li:last-child{
    margin-bottom: 0px;
}

.timeline ul li> h1{
    
    text-align: start;
    margin: 0px;
    font-size: 1.5rem;

}

.timeline ul li> p{
    margin: 0px;
    font-size: 1.2rem;
    

}



.tl-img-border{
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    height: 310px;
    border: 3px solid var(--inverse-on-surface);
    margin: 20px 0px;
    border-radius: 3px;
}

.tl-img{

    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 3px;


}

.info-timeline{
    display: flex;
    width: 80%;
    max-width: 900px;
    height: auto;
    margin: 0 auto;
    position: relative;

}

.info-timeline ul{

    padding: 20px;
    list-style: none;
    

}

.info-timeline ul li {
    text-align: start;
    min-width: 300px;
    height: auto;
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.info-timeline ul li:last-child{
    margin-bottom: 0px;
}

.info-timeline ul li> h1{
    
    text-align: start;
    margin: 0px;
    font-size: 1.5rem;

}

.info-timeline ul li> p{
    margin: 0px;
    font-size: 1.2rem;
    

}

.tl-date{

    font-weight: 100;
    font-size: 1.8rem;
}


.pg-banner h2{

    margin-bottom: 4px;
    font-weight:bold;
    
}



.pg-label{
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    padding: 10px;
    border-radius: 8px;
    margin-top: 24px;
    margin-bottom: 0px;
    color: var(--on-primary);
}

.pg-label h2{

    margin: 0px;
    font-weight: lighter;
}
.tir-color{
    background: var(--tertiary);
}

.tl-webp{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 3px;
}

.tl-webp-border{

    height: 310px;
    width: 100%;
    border: 3px solid var(--background);
    background-color: var(--background);
    border-radius: 3px;
    margin: 12px 0px;
}


.country-card{
    
    padding: 20px;
    list-style: none;
}


.country-card li{
    
    text-align: start;
    min-width: 300px;
    height: auto;
    background-color: var(--secondary-container);
    color: var(--on-secondary-container);
    margin-bottom: -10px;
    padding: 20px;
    border: 3px solid var(--secondary);
    border-radius: 10px;
}

.country-card li:last-child{
    background: var(--primary-container);
    color: var(--on-primary-container);
    margin-bottom: 0px;
}

.lst-img{
    width:100%;
    min-width: 100px;
    max-height: 500px;
    border: 2px solid var(--inverse-on-surface);
    border-radius: 8px;
    
}

.border{
    border: 4px solid var(--inverse-on-surface);
    border-radius: 12px;
    padding: 3px;
}

@media screen and (min-width:1024px) {
    
    body { 
        max-width: 1220px;
    }
}


@media screen and (min-width:769px) {

    h1{

        font-size: 4rem;
    }
    
    h2{
    
        font-size: 2.25rem;
    }
    
    h3{
    
        font-size: 1.375rem;
    }
    
    P{
    
        font-size: 1rem;
    }
    


    .timeline{

        padding: 60px;
    }
    .timeline ul li{
        
        width: 50%;
        margin-bottom: 50px;
        position: relative;
    }

    .timeline::before{
        content: "";
        width: 3px;
        height: 100%;
        background-color: var(--tertiary);
        position:absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

    }
    .timeline ul li:nth-child(odd){
        border-radius: 20px 0px 20px 20px;
        transform: translateX(-80px);
        float: left;
        clear: right;
    }
    

    .timeline ul li:nth-child(even){
        transform: translateX(80px);
        float: right;
        clear: left;
        border-radius: 0px 20px 20px 20px;
        
    }

    .timeline ul li::after{
        content: "";
        background-color: var(--on-secondary);
        position: absolute;
        width: 30px;
        height: 30px;
        border: 2px solid var(--primary);
        border-radius: 50%;
        top: 0;
        


    }

    .timeline ul li:hover::after{
        background-color: var(--primary);
        


    }

    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%,-50%);
        right: -40px;

    }

    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%,-50%);
        left: -40px;

    }


}
@media screen and (max-width:769px) {

    h1{

        font-size: 2.813rem;
    }
    
    h2{
    
        font-size: 1.75rem;
    }
    
    h3{
    
        font-size: 1rem;
    }
    
    P{
    
        font-size: 0.875rem;
    }

    body{
        overflow-x: hidden;
    }


    .logo{
        margin: 0px auto;
    }
    .nav{
        inset: 0 0 0 30%;
    }

    .nav>*:checked + .nav-bar{
        visibility: visible;
        
    }
    .nav-bar{
        padding: 12px;
        position: fixed;
        display: flex;
        z-index: 10 ;
        right: 0;
        top:102px;
        bottom: 0;
        width: auto;
        flex-direction: column;
        background-color: var(--secondary-container);
        opacity: 0.9;
        justify-content: start;
        align-items: center;
        margin: 0px;
        visibility: hidden;
        
    }

    .nav-sub-menu{

    
        background: var(--secondary-container);
        left: -15rem;
        top: 0;
        border: none;
        z-index: -2;
 
    
    }

    .nav-sub-menu li {

        color: var(--on-tertiary-container);
    }

    .nav-bar li:hover> a, .nav-bar li:hover{

        color: var(--primary);
        background:var(--on-primary);
    }
    .active, .active> a{
        

        color: var(--primary);
        background:var(--on-primary);
    } 

    .nav-list-item-other{
        display: flex;
        position: fixed;
        right: 5%;
    }

    .grid{
        grid-template-columns: 100%;
    }

    #brew-q2-img {

        width: 160%;
    }
    
    #brew-q4-img{
        width: 135% ;
    }
    .footer{
        padding: 10px;
    }
    .footer-ul.social-media{
        list-style: none;
        justify-content: center;
        padding-inline-start:0px;
    }



    .text-container{
        margin: 0px auto;
        margin-top: -30%;
    }

    h2,p{
        font-size: 1.5rem;
    }


    
    
}

@media screen and (max-width:475px){

    h1{

        font-size: 2.25rem;
    }
    
    h2{
    
        font-size: 1.5rem;
    }
    
    h3{
    
        font-size: 0.875rem;
    }
    
    P{
    
        font-size: 0.75rem;
    }
}

@media screen and (max-width:510px) {
    
    .nav-sub-menu{

        left: -11rem;
        width: 10rem;
    
    }

    .info-card{
        margin: 0px
    }

    .rotate-on-click-card{
        padding: 10px;
    }

    .promo-img-border{
        margin: 10px 0px;
    }

}